/* --------------------------- GENERAL -------------------------------- */

h1 {
    font-size: 48pt;
    font-family: 'crang', sans-serif;
    color: rgb(204, 204, 204);
}

h2 {
    font-size: 24pt;
    font-family: 'crang', sans-serif;
    color: rgb(204, 204, 204);
}

h3 {
    font-size: 18pt;
    font-family: 'crang', sans-serif;
    color: rgb(204, 204, 204);
}

p {
    font-size: 16pt;
    font-family: 'vcr', sans-serif;
    color: rgb(204, 204, 204);
}

.textbox {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 400px;
}

.col-md-8 {
    width: 900px;
}
.col-md-6 {
    width: 500px;
}
.col-md-5 {
    width: 400px;
}


/* --------------------------- IN-GAME UI -------------------------------- */

#timer {
    color: #f12321;
    font-size: 64pt;
    font-family: 'vcr', sans-serif;
    margin-left: 25px;
    margin-top: -100px;
}

#tasklist {
    margin-left: 25px;
}

/* --------------------------- GAME SCREEN -------------------------------- */

#maingame {
    display: flex;
    flex-direction: row;
}

/* --------------------------- MAIN MENU -------------------------------- */

#main-menu {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#main-menu button {
    margin: 0px;
}

#menu-background {
    width: 1024px;
}

#testimage {
    display: none;
}

#instructions {
    background-color: #7cc049;
    margin-left: 0px;
    margin-top: 50px;
    max-width: 600px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 0px;
}

#prev-text, #next-text, #start-text, .buttontext {
    color: black;
}

#instructions:hover {
    background-color: #63953d;
}

#character-select {
    background-color: #7cc049;
    margin-left: 0px;
    margin-top: 50px;
    max-width: 600px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 0px;
}

#character-select:hover {
    background-color: #63953d;
}

#patch-notes-button:hover {
    color: #7cc049;
}

/* --------------------------- PATCH NOTES -------------------------------- */

#patch-notes {
    background-color: black;
    padding-bottom: 0px;
}

/* --------------------------- CHARACTER SELECTION SCREEN -------------------------------- */

#character-selection-screen {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#start-game {
    background-color: #7cc049;
    margin-left: 13px;
    margin-top: 25px;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 7px;
}

#start-game:hover {
    background-color: #63953d;
}

#prev-character {
    background-color: #7cc049;
    margin-left: 0px;
    margin-top: 25px;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 7px;
}

#prev-character:hover {
    background-color: #63953d;
}

#next-character {
    background-color: #7cc049;
    margin-left: 25px;
    margin-top: 25px;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 7px;
}

#next-character:hover {
    background-color: #63953d;
}

/* --------------------------- INSTRUCTION SCREEN -------------------------------- */

#instruction-screen {
    background-color: black;
    padding-bottom: 0px;
}

#linus-story {
    font-size: 20pt;
    font-family: 'vcr', sans-serif;
    color: rgb(204, 204, 204);
}

#back-1, #back-2 {
    background-color: #7cc049;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 350px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 55px;
}

#back-1:hover, #back-2:hover {
    background-color: #63953d;
}

/* --------------------------- END SCREEN -------------------------------- */

#end-screen {
    display: none;
    padding: 25px;
}

#restart {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 75px;
    max-width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 65px;
}

#restart:hover {
    background-color: rgba(0, 0, 0, 0);
}

#bad-ending {
    color: #f12321;
    padding: 25px;
}

/* --------------------------- FONT LOGIC -------------------------------- */

@font-face {
    font-family: 'crang';
    src: url(/data/fonts/Crang.ttf) format('truetype');
}

@font-face {
    font-family: 'vcr';
    src: url(/data/fonts/VCR_OSD_MONO_1.001.ttf) format('truetype');
}